.profile {
    background: #f8f8f8;
}

.rectangle {
    background: #F6B801FF;
    /* tertiary1-500 */
    padding: 30px;

    border-radius: 6px;
    /* border-m */
    border-width: 1px;
    border-color: #BDC1CAFF;
    /* neutral-400 */
    border-style: solid;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;

}


.userInfo {
    text-align: center;
    margin: 40px 20px 10px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userImage {
    border-radius: 50%;
    margin-bottom: 20px;
    background: #f8f8f8;
    padding: 7px;

}

.profileImageSize {
    width: 82px;
    height: 82px;

}

.userData {
    text-align: center;
}

.userData h2 {
    margin-bottom: 5px;
}

.text {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #171A1FFF;
}

.userName {
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    line-height: 42px;
    font-weight: 400;
    color: #171A1FFF;

}

.userNumber {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    color: #424856FF;
    font-weight: 400;
}

.number {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #424856FF;
}

.editOption {
    position: absolute;
    top: 20px;
    right: 20px;
}

.editIcon {
    font-size: 24px;
    color: #333;
}

.home {
    display: flex;
    align-items: center;
}

.homeIcon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-top: 10px;
}

.icon {
    font-size: 24px;
}


.button {
    position: absolute;
    padding: 10px;
    display: flex;
    right: 15px;
    left: 15px;
    bottom: 10px;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #020328FF;
    /* secondary-500 */
    background: #F3F4F6FF;
    opacity: 1;
    border: none;
}

.button:hover {
    color: #565D6DFF;
    background: #DEE1E6FF;
}

.button:hover:active {
    color: #565D6DFF;
    background: #CFD2DAFF;
}

.button:disabled {
    opacity: 0.4;
}


.middleContainer {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
}

.column {
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 1;
    gap: 12px;
    cursor: pointer;
    color: #171A1FFF;
    /* neutral-900 */
}

.icon {
    font-size: 20px;
    color: #565D6DFF;
}

.arrowIcon {
    font-size: 16px;
    margin-left: auto;
    font-weight: 500;
}

.input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputWithBorder {
    border-color: #276024FF;
}


.amount {
    margin-left: auto;
    background-color: #de3b40;
    padding: 1px 10px;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 600;
    // line-height: 24px; 
    color: #FFFFFFFF;
}

.active {
    background: #FFEAADFF;
    /* primary-200 */
    border-radius: 6px;
    font-weight: 600;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000; /* Adjust this value as needed */
}