.container {
    background: #F8F9FAFF;
    /* neutral-150 */
    /* neutral-150 */
    // padding: 20px;
    position: relative; // Establishes a positioning context for absolutely positioned children
    // padding: 10px; // Add padding inside the container, which also creates space for the button
    min-height: 100vh;
}

.voucherCard {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}


.voucherLabel {
    font-family: 'Inter', sans-serif;
    /* Body */
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #FFFFFFFF;
    /* white */
    padding-bottom: 10px;
}

.voucherCodeBox {
    background: #FFEAADAD;
    border-radius: 6px;
    border: none;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

}

.clockIcon {
    filter: invert(35%) sepia(100%) saturate(2500%) hue-rotate(200deg) brightness(100%) contrast(105%);
    height: 25px;
    width: 25px;
}

.checkIcon {
    // Add a filter to change the color to a green tone
    filter: invert(35%) sepia(100%) saturate(2500%) hue-rotate(200deg) brightness(100%) contrast(105%);
    // Other styles for the check icon
}

.voucherCode {
    display: flex;
    align-items: center;
    justify-content: left;

}

.voucherImage {
    width: 165px;
    height: 148px;
    border-radius: 6px 0 0 6px;
    /* top-left, top-right, bottom-right, bottom-left */
    background: #F6B801FF;
    /* tertiary1-500 */
}

.voucherCodeText {
    font-family: 'Inter', sans-serif;
    /* Body */
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #565D6DFF;
    /* neutral-600 */
    /* neutral-600 */
    padding-left: 7px;
}

.clipboardIcon {
    width: 24px;
    height: 30px;
}

.ExpiresText {
    font-family: 'Inter', sans-serif;
    /* Body */
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #323743FF;
    padding-left: 8px;
}

.containerText {
    margin-top: 40px;

}

.containerTopText {
    font-family: 'Inter', sans-serif;
    /* Body */
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #9095A1FF;
    /* neutral-500 */

}

.dotIcon {
    filter: invert(35%) sepia(100%) saturate(2500%) hue-rotate(200deg) brightness(100%) contrast(105%);
    width: 12px;
    height: 12px;
}

.containerInnerText {
    font-family: 'Inter', sans-serif;
    /* Body */
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #323743FF;
    /* neutral-700 */
    /* white */
    padding-left: 7px;
}

.voucherMiddleText {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 10px;
}


.button {
    position: absolute; // Position the button absolutely to place it at the bottom
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #3c89ff;
    /* primary-500 */
    background: #F4FBF4FF;
    /* primary-100 */
    opacity: 1;
    border: none;
    border-radius: 6px;
    /* border-m */
    height: 44px;

}


.button:hover {
    color: #3c89ff;
    /* primary-500 */
    background: #CFECCEFF;
    /* primary-200 */
}

.button:hover:active {
    color: #3c89ff;
    background: #ABDEA8FF;
}

/* Disabled */
.button:disabled {
    opacity: 0.4;
}

.topContainer {
    padding: 20px;
}


.voucherCardDetailContainer {
    padding: 20px;
    background: #FFFFFFFF;
    border-radius: 6px;
    border-radius: 0 6px 6px 0;
    border: 2px solid rgba(255, 153, 0, 0.2); /* Adjust the pixel value for border width as needed */
}


/* Button 12 */
.buttonRewardBrandName {
    margin-top: 10px;
    height: 28px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 11px;
    line-height: 18px;
    font-weight: 400;
    color: #F2F2F2FF;
    background: #FF9900FF;
    opacity: 1;
    border: none;
    border-radius: 4px;
    /* border-s */
}

/* Hover */
.buttonRewardBrandName:hover {
    color: #F2F2F2FF;
    background: #CE7B00FF;
}

/* Pressed */
.buttonRewardBrandName:hover:active {
    color: #F2F2F2FF;
    background: #9F5F00FF;
}

/* Disabled */
.buttonRewardBrandName:disabled {
    opacity: 0.4;
}


.voucherAmount{
    margin-top: 20px;
    font-family: 'Epilogue'; /* Heading */
    font-size: 32px; 
    line-height: 48px; 
    font-weight: 700; 
    color: #171A1FFF; /* neutral-900 */
  
}