.container {
	padding-top: 10px;
	text-align: center;
	background-color: #f8f8f8;
}

.text {
	font-family: "Inter", sans-serif;
	font-size: 21px;
	font-weight: 700;
	line-height: 32px;
	color: #171a1fff;
	margin-top: 25px;
}

.userDetails {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 16px 16px;
	padding: 16px 0;
	align-items: center;
	background: #f3f4f6ff;
	/* neutral-200 */
	border-radius: 12px;
	/* border-xl */
	box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.2),
		0px 0px 2px rgba(23, 26, 31, 0.2);
}

.image {
	width: 44px;
	height: 44px;
	border-radius: 6px;
	/* border-m */
	// flex-basis: 23%;
}

.id {
	text-align: center;
	font-family: "Epilogue", sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #171a1fff;
	margin: 0 20px;
	padding-top: 8px;
}

.name {
	flex: 1;
	text-align: left;
	padding-left: 15px;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	color: #171a1fff;
	flex-basis: 35%;
}

.points {
	text-align: center;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	color: #171a1fff;
	flex-basis: 25%;
}

.topContainer {
	// background: #117b34ff;
	border-radius: 0px;
	box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
	padding-bottom: 20px;
	align-items: center;
}

.innerContainer {
	display: flex;
	justify-content: center;
	padding: 20px 20px 20px 20px;
}

.backImage {
	filter: brightness(100) saturate(0);
	position:fixed;
	top:10px;
	left: 10px;

}

.Livegame {
	margin-top: 30px;
	width: 149px;
	height: 137px;
	// background: #6e4a01ff;
	border-radius: 6px;
	// box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
}


.topUsers {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.colImg {
	width: 98px;
	height: 44px;
	border-radius: 4px;
	/* border-s */
	box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.2),
		0px 0px 2px rgba(23, 26, 31, 0.2);
}

.biggerOverLapContainer {
	display: flex;
	justify-content: center;
}

.TotalUserPlaying {
	padding-left: 8px;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 40px;
	color: #ffffffff;
}

.outerSmallContainer {
	align-items: center;
	/* This will vertically center your items if you're using flex display */
	justify-content: center;
	display: flex;
	/* Added to enable flexbox properties */
	flex-direction: column;
	/* Stack children vertically */
	padding: 16px;
	margin-top: 16px;
}

/* Container for all image-text pairs */
.SmallImageContainer {
	display: flex;
	flex-wrap: wrap;
	/* Allow wrapping to the next line */
	justify-content: center;
	/* Center the items horizontally */
	gap: 20px;
	/* Adjust the gap between pairs as needed */
}


/* Individual image-text pairs */
.ImageTextPair {
	display: flex;
	flex-direction: row;
	/* Aligns items horizontally */
	gap: 5px;
	/* Space between the image and the text */
	max-width: calc(33.333% - 20px);
	/* Adjust based on the container's padding and the desired gap */
}

.TopSmallImage {
	height: 24px;
	/* Adjust height as needed */
	width: auto;
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(180deg) brightness(100%) contrast(100%);
	margin-right: 4px;
	margin-top: 2px;
}

.TopSmallStarImage {
	height: 24px;
	width: auto;
	margin-right: 4px;
	margin-top: 2px;
}

.TopSmallImageText {
	font-family: "Inter", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	color: #ffffff;
	white-space: normal;
	/* Allow text to wrap */
}

.wontext {
	font-family: 'Inter';
	/* Body */
	font-size: 11px;
	line-height: 18px;
	font-weight: 700;
	color: #EFB034FF;
	/* warning-500 */

}


.unityContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.buttonContainer {
	position: relative;
	/* This enables absolute positioning for child elements */
	text-align: center;
}



.playButton {
	position: absolute;
	/* Position the button absolutely within topContainer */
	bottom: -20px;
	/* Adjust as needed to place the button at the end of the container */
	left: 50%;
	/* Center the button horizontally */
	transform: translateX(-50%);
	/* Offset the button by half its width to truly center it */
	color: white;
	font-size: 16px;
	cursor: pointer;
	font-family: 'Inter';
	font-size: 16px;
	line-height: 26px;
	font-weight: 700;
	color: #FFFFFFFF;
	/* white */
	background: #F6B801FF;
	/* primary-500 */
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	border: none;
	border-radius: 8px;
	/* border-l */
	width: 274px;
	height: 44px;

	/* Use this to ensure the button is visually on top if needed */
	z-index: 10;
}

.historyContainer {
	position: relative;
	text-align: center;
	font-family: 'Inter';
	/* Body */
	font-size: 16px;
	line-height: 26px;
	font-weight: 700;
	color: #FFFFFFFF;
	/* white */
}

.userName {
	margin-bottom: 10px;
}

.userScore {
	margin-bottom: 30px;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000; /* Adjust this value as needed */
}