.headerFixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Epilogue'; /* Heading */
  font-size: 22px; 
  font-weight: 700; 
  color: #171A1FFF; /* neutral-900 */
}


.header {
  font-family: 'Epilogue'; /* Heading */
  font-size: 22px; 
  font-weight: 700; 
  color: #171A1FFF; /* neutral-900 */
  padding: 20px 10px 20px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #F8F9FAFF; /* neutral-150 */

}

.backImage {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
}


.headerFixedSpace {
  height: 40px;
}